@import url('https://fonts.googleapis.com/css?family=Nunito|Satisfy|Open+Sans&display=swap');

body {
    overflow-y: hidden;
    background: #DFDEDD;
    background-position: 30% 80%;
    background-image: url("./images/turtle.jpg");
}

body::-webkit-scrollbar { 
    display: none; 
}

.cursor {
    cursor:pointer;
}

.pb-6 {
    padding-bottom: 1.8rem;
}

.options-menu {
    margin-top: 0rem;
    margin-left: 2rem;
    height: 12rem;
    width: 36rem;
}

.card {
    background: #FFFFFF;
    max-height: 76vh;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
}

.card p {
    font-size: .9rem;
    line-height: 1.3rem;
}

.card::-webkit-scrollbar { 
    width: .5rem;
}

.card::-webkit-scrollbar-thumb {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    background-color: #E51837;
    outline: 1px solid slategrey;
}

.card::-webkit-scrollbar-track {
    background: lightgray;
}

.heading-card {
    border-radius: 0rem;
    border-top-right-radius: 8rem;
}

.heading-card .card-title {
    font-size: 1.5rem;
    font-family: 'Satisfy', 'cursive';
}

.heading-card .card-body{
    overflow-y: hidden;
}

.heading-card::-webkit-scrollbar { 
    display: none; 
}

.class-card .card-title {
    font-size: .9rem;
    line-height: 1.2rem;
}

.class-card .card-subtitle {
    font-size: .9rem;
    line-height: .8rem;
}

.class-card .card-body {
    overflow-y: hidden;
}

.no-radius {
    border-radius: 0rem;
}

.red {
    background: #E51837;
    color: white;
}

.red .text-muted {
    color: rgb(216, 213, 213)!important;
}

.front {
    background: #FFFFFF;
}

.back {
    background: #F5F5F5;
}

.shadow {
    filter: drop-shadow(2px 2px 3px #3a3a3d85);
}

.shadow-right {
    box-shadow: 5px 0px 25px -5px #3a3a3d85;
}

button {
    cursor: pointer;
}

.header-button {
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    padding-top: .1rem;
    padding-bottom: .25rem;
}

.options-button {
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    padding-top: 0rem;
    padding-bottom: .2rem;
}

.btn-danger {
    border-width: .05rem;
    border-color: white;
}

.btn-danger:hover {
    border-width: .05rem;
    border-color: white;
}

.heading-card .form-control {
    width: 90%;
}

.tip {
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .7rem;
    padding-left: .7rem;
    max-width: 13rem;
}

.time-form {
    padding-top: .3rem;
}
